{% extends 'core/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>{{ noticia2.title }}</h2>
      <hr>
      <p>{{ noticia2.authors }}</p>
      <hr>
      <p>{{ noticia2.date }}</p>
      <hr>
      <p>{{ noticia2.keywords }}</p>
      <hr>
      <p>{{ noticia2.source }}</p>
      <hr>
      <p>{{ noticia2.text }}</p>
    </div>
    <div class="col-md-4">
      <!-- Puedes agregar contenido adicional aquí si lo deseas -->
    </div>
  </div>
</div>

{% endblock %}
